coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
mpmath==1.3.0
natsort==8.4.0
numpy==2.2.3
onnxruntime==1.21.0
opencv-python==4.11.0.86
packaging==24.2
protobuf==6.30.0
setuptools==75.8.2
sympy==1.13.3
wheel==0.45.1
